$primary-light: #A4EAF4;
$primary: #1CCCE3;
$primary-dark: #00B4E5;

$secondary: #FF87A4;
$error: #FF6F80;
$warning: #FFC34E;
$success: #B4E88C;

$white: #fff;

$grey-light-1:#F6F7FD;
$grey-light-2:#D6DBEB;
$grey-light-3:#B4BED7;

$grey-dark-1:#7F8DA3;
$grey-dark-2:#58677C;
$grey-dark-3:#31374D;

$basic-padding: 14rem 4rem;